* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #2b6b2d;

    /* layered diamond/checker pattern */
    background-image:
        linear-gradient(45deg, rgba(255, 255, 255, 0.04) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.04) 50%, rgba(255, 255, 255, 0.04) 75%, transparent 75%, transparent),
        linear-gradient(-45deg, rgba(255, 255, 255, 0.03) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.03) 50%, rgba(255, 255, 255, 0.03) 75%, transparent 75%, transparent);

    background-size: 40px 40px, 40px 40px;

    padding: 20px;
}

.container {
    max-width: 1000px;
    margin: auto;
    background: rgb(39, 34, 34);
    padding: 20px;
    border-radius: 10px;
}

h1 {
    margin-bottom: 20px;
    color: rgb(203, 71, 71);
}

.habit-input {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.habit-input input {
    flex: 1;
    padding: 10px;
}

.week-controls {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.week-controls button {
    padding: 10px;
    cursor: pointer;
}

.table-wrapper {
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    border: 1px solid #fffcfc;
    padding: 12px;
    text-align: center;
    color: white;
}

th {
    background: #b3333a;
}

td:first-child {
    font-weight: bold;
    text-align: left;
}

.today {
    background-color: #ffeaa7;
    color: black;
}

.check-btn {
    cursor: pointer;
    font-size: 18px;
}

.delete-btn {
    background: red;
    color: white;
    border: none;
    padding: 6px 10px;
    cursor: pointer;
}

.edit-btn {
    padding: 6px 10px;
    cursor: pointer;
}

#emptyState {
    padding: 20px;
    text-align: center;
    color: rgb(255, 248, 248);
}

button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:focus {
    outline: 2px solid black;
}

@media (max-width: 600px) {
    .habit-input {
        flex-direction: column;
    }

    .week-controls {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    button {
        width: 100%;
    }

    th,
    td {
        padding: 8px;
        font-size: 14px;
    }
}